* {
    font-family: Arial, Helvetica, sans-serif;
}

header, 
footer {
    background-color: #00838F;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 130%;
}

main {
    display: flex;
}

header{
    float: top ;
}

footer{
    float: bottom ;
}

div#left {
    background-color: #EFEFEF;
    width: 55%;
    flex: 55;
}
div#list {
    height: 150px;
}

#table {
    height: 300px;
}
#right {
    background-color: #4fb3bf;
    width: 45%;
    height: 450px;
    text-align: center;
    flex: 45;
}

img {
    border-collapse: 10px, solid, dimgray ,7px;
    padding: 20px;
}

table, th, td {
    border: 1px solid #4fb3bf;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

table {
    padding: auto;
    width: 80%;
}

hover {
    background-color: #00838F;
    color: white;}

th, td {
    margin: 4px;
}


